h1 {
    text-align: center;
    font-size: 2.5cm;
    background-color: rgba(255, 0, 0, 0.349);
    margin-left:20%;
    margin-right:20%;
    padding-top: 40px;
    padding-bottom:50px ;
    margin-top: 100px;
}

body {
    background-image: url("autum.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;


}

#container {
    background-color:  rgba(255, 255, 255, 0.623);
    margin: 75px;
    padding: 50px;

}
.button { 
    background-color: blue;
    padding: 15px;
    border-radius: 20px; 
    color: rgba(238, 236, 236, 0.945);
    text-decoration: none;
}

.button:hover {
    background-color:teal;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: maroon;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serifs;
    
}

nav ul li a:hover {
    background-color: darkred;
    color: peachpuff;
}

